<h1>vendas Details</h1>
<p>ID: <%= vendas.id %></p>
<p>Nome: <%= vendas.nome %></p>
<p>Descrição: <%= vendas.descricao %></p>
<p>Preço: <%= vendas.preco %></p>
<p>Quantidade: <%= vendas.quantidade %></p>
<p>Categoria: <%= vendas.categoria_nome %></p>
<a href="/vendas" class="btn btn-primary">Back to List</a>
